In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [6]:
def load_data():
    """Load data from the CSV files referundum/regions/departments."""
    referendum = pd.read_csv('data/referendum.csv',
                             sep=';')
    regions = pd.read_csv('data/regions.csv')
    departments = pd.read_csv('data/departments.csv')

    return referendum, regions, departments

In [8]:
referendum, regions, departments = load_data()

regions.head()

   id region_code code                     name                     slug
0   1          84   01                      Ain                      ain
1   2          32   02                    Aisne                    aisne
2   3          84   03                   Allier                   allier
3   4          93   04  Alpes-de-Haute-Provence  alpes de haute provence
4   5          93   05             Hautes-Alpes             hautes alpes

In [9]:

departments.head()

   id region_code code                     name                     slug
0   1          84   01                      Ain                      ain
1   2          32   02                    Aisne                    aisne
2   3          84   03                   Allier                   allier
3   4          93   04  Alpes-de-Haute-Provence  alpes de haute provence
4   5          93   05             Hautes-Alpes             hautes alpes

In [25]:
def merge_regions_and_departments(regions, departments):
    """Merge regions and departments in one DataFrame.

    The columns in the final DataFrame should be:
    ['code_reg', 'name_reg', 'code_dep', 'name_dep']
    """
    df_merge = pd.merge(departments, regions, how='inner', 
                        left_on='region_code', right_on='code', 
                        suffixes= ('_dep', '_reg'))

    return df_merge.drop(['id_reg', 'slug_reg', 'id_dep', 'region_code', 'slug_dep'], axis=1)

In [28]:
regions_and_departments = merge_regions_and_departments(regions, departments)

In [29]:
referendum.head()

,Department code,Department name,Town code,Town name,Registered,Abstentions,Null,Choice A,Choice B
0,1,AIN,1,L'Abergement-Clémenciat,592,84,9,154,345
1,1,AIN,2,L'Abergement-de-Varey,215,36,5,66,108
2,1,AIN,4,Ambérieu-en-Bugey,8205,1698,126,2717,3664
3,1,AIN,5,Ambérieux-en-Dombes,1152,170,18,280,684
4,1,AIN,6,Ambléon,105,17,1,35,52

In [ ]:
def merge_referendum_and_areas(referendum, regions_and_departments):
    """Merge referendum and regions_and_departments in one DataFrame.

    You can drop the lines relative to DOM-TOM-COM departments, and the
    french living abroad.
    """
    referendum.drop()

    return pd.DataFrame({})